In [1]:
# Import PySpark libraries only
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

# Create Spark Session
spark = SparkSession.builder \
    .appName("EV_Data_Preprocessing_EDA") \
    .config("spark.driver.memory", "6g") \
    .config("spark.executor.memory", "6g") \
    .config("spark.sql.shuffle.partitions", "200") \
    .config("spark.sql.adaptive.enabled", "true") \
    .getOrCreate()

print(f"Spark version: {spark.version}")
print(f"Spark UI: {spark.sparkContext.uiWebUrl}")
print("✓ Spark session created")
print("\nUsing PySpark only - no visualization libraries")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/26 14:59:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark version: 3.5.1
Spark UI: http://10.233.81.94:4040
✓ Spark session created

Using PySpark only - no visualization libraries

## 1. Load Dataset from HDFS

In [2]:
# Load dataset from HDFS
hdfs_path = "hdfs://localhost:9000/des/data/ev_ice_timeseries_1667_locations_120months_200krows_tweaked_for_events_and_noise.csv"

print("Loading data from HDFS...")
df = spark.read.csv(
    hdfs_path,
    header=True,
    inferSchema=True,
    mode="PERMISSIVE",
    nullValue="NULL",
    nanValue="NaN"
)

print(f"\n✓ Loaded {df.count():,} rows, {len(df.columns)} columns")
print("\nSchema:")
df.printSchema()

Loading data from HDFS...

✓ Loaded 200,040 rows, 35 columns

Schema:
root
 |-- city: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- fuel_price_per_litre: double (nullable = true)
 |-- avg_city_aqi: double (nullable = true)
 |-- charging_stations_per_10k: double (nullable = true)
 |-- ev_subsidy_amount: double (nullable = true)
 |-- income_level: double (nullable = true)
 |-- vehicle_price_ev: double (nullable = true)
 |-- vehicle_price_ice: double (nullable = true)
 |-- battery_range_km: double (nullable = true)
 |-- charging_time_minutes: double (nullable = true)
 |-- maintenance_cost_ev: double (nullable = true)
 |-- maintenance_cost_ice: double (nullable = true)
 |-- fuel_efficiency_ice_kmpl: double (nullable = true)
 |-- electricity_cost_per_kwh: double (nullable = true)
 |-- co2_emission_city: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- public_transport_score: double (nullable = true)
 |-- traffic_congestion_index: double (nullable = true)
 |-- ev_awareness_score: double (nullable = true)
 |-- gov_infra_investment_crores: double (nullable = true)
 |-- charging_infra_growth_rate: double (nullable = true)
 |-- fuel_price_growth_rate: double (nullable = true)
 |-- aqi_improvement_potential: double (nullable = true)
 |-- consumer_range_anxiety_score: double (nullable = true)
 |-- vehicle_resale_value_ev: double (nullable = true)
 |-- vehicle_resale_value_ice: double (nullable = true)
 |-- city_ev_readiness_index: double (nullable = true)
 |-- ev_sales_last_year: double (nullable = true)
 |-- ice_sales_last_year: double (nullable = true)
 |-- charging_cost_per_full_charge: double (nullable = true)
 |-- ev_adoption_probability: double (nullable = true)
 |-- state: string (nullable = true)

In [3]:
# Show sample data
print("Sample data (first 20 rows):")
df.show(20)

Sample data (first 20 rows):
+------+----+-----+----------+--------------------+------------+-------------------------+-----------------+------------+----------------+-----------------+----------------+---------------------+-------------------+--------------------+------------------------+------------------------+-----------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+-----------+
|  city|year|month|      date|fuel_price_per_litre|avg_city_aqi|charging_stations_per_10k|ev_subsidy_amount|income_level|vehicle_price_ev|vehicle_price_ice|battery_range_km|charging_time_minutes|maintenance_cost_ev|maintenance_cost_ice|fuel_efficiency_ice_kmpl|electricity_cost_per_kwh|co2_emission_city|population_density|public_transport_score|traffic_congestion_index|ev_awareness_score|gov_infra_investment_crores|charging_infra_growth_rate|fuel_price_growth_rate|aqi_improvement_potential|consumer_range_anxiety_score|vehicle_resale_value_ev|vehicle_resale_value_ice|city_ev_readiness_index|ev_sales_last_year|ice_sales_last_year|charging_cost_per_full_charge|ev_adoption_probability|      state|
+------+----+-----+----------+--------------------+------------+-------------------------+-----------------+------------+----------------+-----------------+----------------+---------------------+-------------------+--------------------+------------------------+------------------------+-----------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+-----------+
|Mumbai|2015|    1|2015-01-01|               94.76|      211.82|                      7.1|         74760.39|   476403.74|      1221684.19|        674302.76|          441.06|                84.65|           19882.91|            15507.63|                    21.9|                    9.52|            79.05|           5988.79|                  4.08|                   41.57|              NULL|                     139.59|                      7.92|                  8.32|                     4.56|                        5.55|              614265.57|               518501.17|                  66.27|            6504.5|           46666.15|                       380.45|                   0.31|Maharashtra|
|Mumbai|2015|    2|2015-02-01|               97.83|      212.85|                     7.57|         71707.66|   491058.62|      1199374.14|        666832.79|          459.49|                80.44|           19958.51|            15853.88|                   22.28|                    9.24|            76.16|           6043.86|                  4.18|                   41.63|              5.12|                     143.06|                      7.98|                  8.66|                     4.64|                        5.41|              597161.42|               504303.19|                  65.95|           6327.34|           44873.79|                       375.57|                   0.31|Maharashtra|
|Mumbai|2015|    3|2015-03-01|               92.15|       211.1|                     7.32|         74294.36|   483924.73|      1207861.06|        697238.64|          461.71|                 83.9|           20026.01|            15159.46|                   21.64|                    9.36|            81.05|           6095.52|                  4.13|                   41.38|              5.08|                     145.51|                      8.11|                  8.62|                     4.65|                        5.59|              588891.64|               525849.04|                  69.01|           5054.68|           35362.82|                       377.71|                   0.31|Maharashtra|
|Mumbai|2015|    4|2015-04-01|               93.81|      206.18|                     7.41|         73729.39|   492351.25|      1177094.93|        693872.25|          454.43|                 82.6|           20391.17|            15396.89|                   21.75|                     9.6|            74.55|           6155.41|                  4.13|                   42.11|              5.11|                     139.24|                      8.09|                  8.53|                     4.79|                        5.46|              601332.94|               522419.27|                  67.14|           7796.72|           55485.49|                       380.15|                   0.31|Maharashtra|
|Mumbai|2015|    5|2015-05-01|               92.43|      215.49|                     7.28|         76364.51|    501259.8|      1180359.32|        687153.25|          466.83|                84.21|           20834.59|            15727.87|                   21.33|                     9.2|            75.59|           6137.48|                  4.14|                   41.75|              5.35|                     143.67|                      8.26|                  8.43|                     5.05|                        5.48|               603021.9|                509138.9|                  67.99|           7037.74|           47297.29|                       379.76|                   0.32|Maharashtra|
|Mumbai|2015|    6|2015-06-01|               94.48|      208.98|                     7.23|         74322.59|   500674.78|      1206020.94|        658701.71|          466.11|                83.15|           19729.56|             15874.5|                   21.69|                    9.17|            77.23|           6229.15|                  4.21|                   42.45|              5.15|                     141.67|                      8.12|                  8.55|                     4.87|                        5.82|              623910.23|               532305.71|                   69.2|           7302.94|           46160.61|                       381.53|                   0.31|Maharashtra|
|Mumbai|2015|    7|2015-07-01|               93.08|      211.48|                      7.4|         74953.69|   517019.49|      1157120.33|        685716.28|          451.25|                81.39|           20529.46|            15867.52|                    21.2|                    9.25|            77.54|           6085.83|                  4.14|                   41.68|              5.25|                     151.03|                      8.16|                  8.11|                     4.87|                        5.32|              631085.35|               512535.35|                  68.41|           7436.23|           47113.82|                       366.34|                   0.31|Maharashtra|
|Mumbai|2015|    8|2015-08-01|               93.84|      210.36|                     7.41|         77337.27|   500975.86|       1172531.4|        689955.71|          486.87|                83.61|            19493.5|             15716.2|                   22.22|                    9.27|            76.99|           6283.13|                  4.05|                   41.65|              5.01|                     142.77|                      8.04|                  8.23|                     5.04|                        5.22|              619433.81|               522376.17|                  71.03|           7337.76|           47231.54|                        375.1|                   0.32|Maharashtra|
|Mumbai|2015|    9|2015-09-01|               92.54|      214.25|                     7.56|         73577.94|   500073.65|      1194383.58|        680319.68|          474.99|                84.22|           19615.64|            16560.24|                   20.83|                    9.38|            77.02|           6236.96|                  4.08|                   41.58|              5.32|                     144.67|                      8.23|                   8.5|                     4.85|                        5.46|              632180.32|               529712.77|                  70.58|           7928.73|           47602.34|                       380.28|                   0.32|Maharashtra|
|Mumbai|2015|   10|2015-10-01|               95.49|      212.09|                     7.57|         76256.28|   496034.54|      1217595.83|        677228.42|          468.42|                83.08|           20451.77|            16166.51|                   22.24|                    9.42|            76.98|            6178.9|                  4.16|                    41.7|              5.41|                     148.68|                      7.99|                  8.78|                     4.86|                        5.22|               646164.4|               529745.39|                  71.17|           9961.28|           57677.62|                       367.47|                   0.32|Maharashtra|
|Mumbai|2015|   11|2015-11-01|                94.4|      209.19|                     7.72|         73924.42|   496106.06|      1197716.65|        686604.75|          466.73|                79.53|           20227.95|            16008.89|                   21.46|                    9.34|             76.1|           6054.25|                  4.02|                   41.28|              5.41|                     148.55|                      8.37|                  8.56|                     4.96|                        5.34|              624128.88|               521584.51|                  70.58|          11459.28|           64084.47|                       377.79|                   0.32|Maharashtra|
|Mumbai|2015|   12|2015-12-01|                97.1|      211.51|                     7.66|          75024.0|   502507.29|      1211670.46|        682379.97|          474.25|                79.29|           20149.43|            16109.59|                   22.32|                    9.62|            78.89|           6151.14|                  4.21|                   42.08|              5.68|                     146.07|                      8.02|                  8.31|                     4.81|                        5.27|              630847.74|               523591.38|                   72.0|           8374.34|           46376.45|                       369.12|                   0.33|Maharashtra|
|Mumbai|2016|    1|2016-01-01|               92.41|      213.97|                     7.44|         76584.94|   520029.09|      1195983.79|        660402.93|           487.2|                80.08|           20644.96|            15472.86|                   21.43|                    9.45|            75.44|           6203.75|                  4.19|                    41.1|              5.47|                     149.36|                      8.25|                  8.52|                     4.94|                        5.15|              659017.39|                525733.4|                  71.18|           8484.56|            45423.7|                        382.0|                   0.33|Maharashtra|
|Mumbai|2016|    2|2016-02-01|               94.17|      220.56|                     7.91|         73258.34|   520351.18|      1223554.26|        702817.49|          467.47|                81.11|           20582.37|            15442.34|                   21.18|                    9.08|            74.76|           6359.96|                  4.27|                    42.1|              5.68|                      145.8|                      7.92|                  8.38|                     5.11|                         5.3|              622814.46|               521609.59|                  71.06|           8117.06|           43330.92|                       365.61|                   0.33|Maharashtra|
|Mumbai|2016|    3|2016-03-01|               92.99|      207.16|                     7.67|         74914.54|    503849.6|      1221074.28|        678521.12|          470.51|                79.46|           19752.65|            15842.37|                   21.18|                    9.83|            75.05|           6201.27|                  4.17|                   42.01|              5.52|                      152.1|                      8.33|                  8.29|                     5.05|                        5.27|              623817.51|               507052.65|                  75.13|           6705.58|           34096.68|                       376.68|                   0.33|Maharashtra|
|Mumbai|2016|    4|2016-04-01|               94.49|      224.69|                     7.87|         73100.99|   506460.99|      1171476.55|        689485.95|          472.32|                76.93|           19917.72|            15697.54|                   22.44|                    9.64|            74.79|           6480.76|                  4.16|                   41.44|              5.73|                     152.56|                      8.06|                  8.34|                     5.05|                        5.13|              666236.02|               542869.91|                  72.14|          10072.62|           50524.21|                       368.25|                   0.33|Maharashtra|
|Mumbai|2016|    5|2016-05-01|                92.7|      207.79|                     7.74|         71863.97|   520572.11|      1209614.89|        684697.64|          472.41|                78.03|           20488.85|            16216.22|                   21.29|                     9.5|            75.78|           6111.07|                   4.2|                   41.67|              5.66|                     149.56|                      7.96|                  8.09|                     5.17|                         5.3|              648149.34|               529925.21|                  72.39|           8884.49|           43515.35|                       366.62|                   0.33|Maharashtra|
|Mumbai|2016|    6|2016-06-01|               93.84|       207.7|                      7.7|         74480.66|   514744.54|      1231714.96|        673904.18|          487.02|                 81.1|           19204.94|            15829.32|                   54.63|                    9.46|            75.01|           6254.82|                  4.17|                   42.14|              5.75|                      153.1|                      8.32|                  8.28|                     5.15|                        5.21|              667491.37|                519174.3|                  75.53|           9313.28|           45320.58|                        368.7|                   0.33|Maharashtra|
|Mumbai|2016|    7|2016-07-01|               95.96|      209.52|                     7.49|         71254.26|   504622.63|      1204209.46|        690419.53|          498.97|                78.91|           20116.94|            16361.78|                   20.76|                    9.55|            75.44|           6162.24|                  4.26|                   42.61|              5.61|                     154.84|                      8.64|                  8.38|                     5.25|                         5.2|              656416.12|               532422.01|                  74.64|           9206.67|           43881.79|                       374.39|                   0.33|Maharashtra|
|Mumbai|2016|    8|2016-08-01|               94.24|      215.58|                     7.74|         72203.67|   515522.08|      1202891.16|        696363.76|          492.04|                76.49|           20562.54|            16548.38|                    21.9|                    9.86|            72.86|            6204.7|                  4.02|                   43.62|              5.75|                     153.57|                      8.34|                  8.14|                     5.48|                        5.25|              671697.09|               531588.84|                  76.97|           9378.56|           43422.54|                       373.95|                   0.34|Maharashtra|
+------+----+-----+----------+--------------------+------------+-------------------------+-----------------+------------+----------------+-----------------+----------------+---------------------+-------------------+--------------------+------------------------+------------------------+-----------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+-----------+
only showing top 20 rows

25/11/26 15:00:24 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [4]:
# Column names
print(f"Total columns: {len(df.columns)}")
print("\nColumn names:")
for i, col in enumerate(df.columns, 1):
    print(f"{i:2d}. {col}")

Total columns: 35

Column names:
 1. city
 2. year
 3. month
 4. date
 5. fuel_price_per_litre
 6. avg_city_aqi
 7. charging_stations_per_10k
 8. ev_subsidy_amount
 9. income_level
10. vehicle_price_ev
11. vehicle_price_ice
12. battery_range_km
13. charging_time_minutes
14. maintenance_cost_ev
15. maintenance_cost_ice
16. fuel_efficiency_ice_kmpl
17. electricity_cost_per_kwh
18. co2_emission_city
19. population_density
20. public_transport_score
21. traffic_congestion_index
22. ev_awareness_score
23. gov_infra_investment_crores
24. charging_infra_growth_rate
25. fuel_price_growth_rate
26. aqi_improvement_potential
27. consumer_range_anxiety_score
28. vehicle_resale_value_ev
29. vehicle_resale_value_ice
30. city_ev_readiness_index
31. ev_sales_last_year
32. ice_sales_last_year
33. charging_cost_per_full_charge
34. ev_adoption_probability
35. state

## 2. Data Quality Analysis

In [5]:
# Analyze data quality
print("="*80)
print("DATA QUALITY ANALYSIS")
print("="*80)

total_rows = df.count()
total_cols = len(df.columns)

print(f"\nDataset dimensions: {total_rows:,} rows × {total_cols} columns")
print(f"Total cells: {total_rows * total_cols:,}")

# Count nulls per column
print("\nAnalyzing missing values...")
null_counts = []
for col_name in df.columns:
    null_count = df.filter(F.col(col_name).isNull()).count()
    null_pct = (null_count / total_rows) * 100
    null_counts.append((col_name, null_count, null_pct))

null_df = spark.createDataFrame(null_counts, ['column', 'null_count', 'null_percentage'])

print("\nColumns with missing values (Top 20):")
null_df.filter(F.col('null_count') > 0).orderBy(F.col('null_count').desc()).show(20, truncate=False)

total_nulls = null_df.agg(F.sum('null_count')).collect()[0][0]
null_pct_overall = (total_nulls / (total_rows * total_cols)) * 100
print(f"\nTotal missing cells: {total_nulls:,} ({null_pct_overall:.2f}% of all cells)")

================================================================================
DATA QUALITY ANALYSIS
================================================================================

Dataset dimensions: 200,040 rows × 35 columns
Total cells: 7,001,400

Analyzing missing values...

Columns with missing values (Top 20):
+-------------------------+----------+------------------+
|column                   |null_count|null_percentage   |
+-------------------------+----------+------------------+
|fuel_price_per_litre     |1999      |0.9993001399720055|
|city_ev_readiness_index  |1997      |0.9983003399320136|
|ev_sales_last_year       |1997      |0.9983003399320136|
|ev_subsidy_amount        |1996      |0.9978004399120176|
|avg_city_aqi             |1995      |0.9973005398920216|
|charging_stations_per_10k|1995      |0.9973005398920216|
|ev_awareness_score       |1993      |0.9963007398520296|
|income_level             |1993      |0.9963007398520296|
|charging_time_minutes    |1992      |0.9958008398320336|
|ice_sales_last_year      |1992      |0.9958008398320336|
|battery_range_km         |1992      |0.9958008398320336|
+-------------------------+----------+------------------+


Total missing cells: 21,941 (0.31% of all cells)

In [6]:
# Check for duplicates
print("\nChecking for duplicate rows...")
distinct_rows = df.distinct().count()
duplicates = total_rows - distinct_rows

print(f"Total rows: {total_rows:,}")
print(f"Distinct rows: {distinct_rows:,}")
print(f"Duplicate rows: {duplicates:,}")

if duplicates > 0:
    print(f"Duplicate percentage: {(duplicates/total_rows)*100:.2f}%")
else:
    print("✓ No duplicates found")

Checking for duplicate rows...

Total rows: 200,040
Distinct rows: 200,040
Duplicate rows: 0
✓ No duplicates found

## 3. Data Cleaning

In [7]:
# Clean the dataset
print("="*80)
print("DATA CLEANING")
print("="*80)

print(f"\nOriginal dataset: {df.count():,} rows")

# Step 1: Replace 'None' strings with nulls
print("\n1. Standardizing null values...")
for column in df.columns:
    df = df.withColumn(
        column,
        F.when(F.col(column).isin(['None', 'NULL', '', 'NaN']), None).otherwise(F.col(column))
    )
print("   ✓ Null values standardized")

# Step 2: Remove duplicates
print("\n2. Removing duplicate rows...")
original_count = df.count()
df = df.dropDuplicates()
duplicates_removed = original_count - df.count()
print(f"   ✓ Removed {duplicates_removed:,} duplicates")

# Step 3: Impute missing numeric values
print("\n3. Imputing missing numeric values with median...")
numeric_cols = [field.name for field in df.schema.fields 
               if str(field.dataType) in ['IntegerType', 'DoubleType', 'FloatType', 'LongType']]

target_col = 'ev_adoption_probability'
imputed_count = 0

for col_name in numeric_cols:
    if col_name != target_col:
        null_count = df.filter(F.col(col_name).isNull()).count()
        if null_count > 0:
            median_val = df.stat.approxQuantile(col_name, [0.5], 0.01)[0]
            df = df.withColumn(col_name, F.when(F.col(col_name).isNull(), median_val).otherwise(F.col(col_name)))
            imputed_count += null_count
            print(f"   - {col_name}: imputed {null_count:,} values with median {median_val:.4f}")

print(f"   ✓ Total numeric values imputed: {imputed_count:,}")

# Step 4: Fill categorical nulls
print("\n4. Filling missing categorical values...")
categorical_cols = [field.name for field in df.schema.fields if str(field.dataType) == 'StringType']

for col_name in categorical_cols:
    null_count = df.filter(F.col(col_name).isNull()).count()
    if null_count > 0:
        df = df.withColumn(col_name, F.when(F.col(col_name).isNull(), 'Unknown').otherwise(F.col(col_name)))
        print(f"   - {col_name}: filled {null_count:,} nulls with 'Unknown'")

print("   ✓ Categorical values filled")

# Step 5: Drop rows with null target
print("\n5. Removing rows with null target variable...")
before_target_drop = df.count()
df = df.filter(F.col(target_col).isNotNull())
target_nulls_removed = before_target_drop - df.count()
print(f"   ✓ Removed {target_nulls_removed:,} rows with null target")

print(f"\n✓ CLEANED DATASET: {df.count():,} rows")
print("="*80)

================================================================================
DATA CLEANING
================================================================================

Original dataset: 200,040 rows

1. Standardizing null values...
   ✓ Null values standardized

2. Removing duplicate rows...

   ✓ Removed 0 duplicates

3. Imputing missing numeric values with median...
   ✓ Total numeric values imputed: 0

4. Filling missing categorical values...
   ✓ Categorical values filled

5. Removing rows with null target variable...

   ✓ Removed 0 rows with null target

✓ CLEANED DATASET: 200,040 rows
================================================================================

## 4. Descriptive Statistics

In [8]:
# Descriptive statistics for numeric columns
print("="*80)
print("DESCRIPTIVE STATISTICS")
print("="*80)

print("\nNumeric columns summary:")
df.describe().show(truncate=False)

================================================================================
DESCRIPTIVE STATISTICS
================================================================================

Numeric columns summary:

+-------+---------+-----------------+------------------+--------------------+------------------+-------------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+-------------------+--------------------+------------------------+------------------------+------------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+---------------------------+
|summary|city     |year             |month             |fuel_price_per_litre|avg_city_aqi      |charging_stations_per_10k|ev_subsidy_amount|income_level      |vehicle_price_ev  |vehicle_price_ice |battery_range_km  |charging_time_minutes|maintenance_cost_ev|maintenance_cost_ice|fuel_efficiency_ice_kmpl|electricity_cost_per_kwh|co2_emission_city |population_density|public_transport_score|traffic_congestion_index|ev_awareness_score|gov_infra_investment_crores|charging_infra_growth_rate|fuel_price_growth_rate|aqi_improvement_potential|consumer_range_anxiety_score|vehicle_resale_value_ev|vehicle_resale_value_ice|city_ev_readiness_index|ev_sales_last_year|ice_sales_last_year|charging_cost_per_full_charge|ev_adoption_probability|state                      |
+-------+---------+-----------------+------------------+--------------------+------------------+-------------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+-------------------+--------------------+------------------------+------------------------+------------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+---------------------------+
|count  |200040   |200040           |200040            |198041              |198045            |198045                   |198044           |198047            |200040            |200040            |198048            |198048               |200040             |200040              |200040                  |200040                  |200040            |200040            |200040                |200040                  |198047            |200040                     |200040                    |200040                |200040                   |200040                      |200040                 |200040                  |198043                 |198043            |198048             |200040                       |200040                 |200040                     |
|mean   |NULL     |2019.5           |6.5               |99.77745830408854   |143.02652912216925|7.061226589916435        |65124.44828634057|1253151.9620546652|1808835.6615366929|1272238.3340301958|427.14397757109367|65.5149491032478     |16356.119985952806 |35040.785335233035  |16.851011947610477      |8.453544341131764       |109.02945065986793|12566.212808888211|6.516951909618058     |57.9221967106579        |6.701503229031496 |202.49250214957            |12.945551689662082        |7.568956108778244     |11.20782858428314        |5.054089532093577           |899799.0788387832      |529295.724584482        |68.61212756825543      |29108.959857253223|46326.15842507866  |351.040122175564             |0.33426829634073285    |NULL                       |
|stddev |NULL     |2.872288502563364|3.4520611579726554|13.58880629648465   |45.79348117971324 |5.088243499922911        |37300.25393208059|701782.1905309123 |608569.6755416804 |422350.4407899632 |146.22987252578199|28.548384382924947   |5548.333576584505  |12626.690830704167  |4.233311953056299       |1.4730029608855277      |41.562574561050226|6040.558934859482 |2.1184844226281956    |24.02642022766921       |2.6586706961760442|122.42923969715979         |6.2532948969842534        |2.9280524893269972    |5.136720934567956        |1.8051365917431312          |409630.7942550538      |226532.48948295513      |38.83097424112208      |26583.65070035846 |31505.69154147277  |99.60840860895367            |0.11261165851046953    |NULL                       |
|min    |Agartala |2015             |1                 |-21.83              |-266.36           |-38.8                    |-268753.71       |-5047597.76       |-3626934.15       |-2513455.92       |-886.29           |-192.36              |-33622.53          |-78623.84           |-21.17                  |-4.74                   |-264.06           |-41346.96         |-12.42                |-157.57                 |-17.05            |-897.91                    |-43.12                    |-18.63                |-35.01                   |-11.2                       |-2784939.14            |-1494208.33             |-281.73                |-214206.88        |-238927.36         |-542.65                      |-0.68                  |Andaman and Nicobar Islands|
|max    |Zunheboto|2024             |12                |221.25              |552.88            |52.22                    |398536.39        |7506171.96        |7270256.55        |5050328.72        |1729.73           |318.36               |65729.42           |147483.61           |54.63                   |21.64                   |480.22            |66813.42          |25.52                 |272.67                  |30.51             |1294.57                    |68.86                     |33.81                 |56.97                    |21.12                       |4550217.09             |2562187.82              |412.91                 |261295.96         |324663.64          |1241.05                      |1.34                   |West Bengal                |
+-------+---------+-----------------+------------------+--------------------+------------------+-------------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+-------------------+--------------------+------------------------+------------------------+------------------+------------------+----------------------+------------------------+------------------+---------------------------+--------------------------+----------------------+-------------------------+----------------------------+-----------------------+------------------------+-----------------------+------------------+-------------------+-----------------------------+-----------------------+---------------------------+

In [9]:
# Target variable statistics
print(f"\nTarget variable: {target_col}")
df.select(target_col).describe().show()

# Percentiles
percentiles = df.stat.approxQuantile(target_col, [0.25, 0.50, 0.75, 0.95, 0.99], 0.01)
print(f"25th percentile: {percentiles[0]:.6f}")
print(f"50th percentile (median): {percentiles[1]:.6f}")
print(f"75th percentile: {percentiles[2]:.6f}")
print(f"95th percentile: {percentiles[3]:.6f}")
print(f"99th percentile: {percentiles[4]:.6f}")

Target variable: ev_adoption_probability

+-------+-----------------------+
|summary|ev_adoption_probability|
+-------+-----------------------+
|  count|                 200040|
|   mean|    0.33426829634073285|
| stddev|    0.11261165851046953|
|    min|                  -0.68|
|    max|                   1.34|
+-------+-----------------------+

25th percentile: 0.260000
50th percentile (median): 0.330000
75th percentile: 0.400000
95th percentile: 0.500000
99th percentile: 1.340000

## 5. Feature Correlations

In [13]:
# Calculate correlations with target
print("="*80)
print("FEATURE CORRELATIONS WITH TARGET")
print("="*80)

correlations = []
for col_name in numeric_cols:
    if col_name != target_col:
        corr = df.stat.corr(col_name, target_col)
        correlations.append((col_name, corr))

corr_df = spark.createDataFrame(correlations, ['feature', 'correlation'])

print("\nTop 15 Positive Correlations:")
corr_df.orderBy(F.col('correlation').desc()).show(15, truncate=False)

print("\nTop 15 Negative Correlations:")
corr_df.orderBy(F.col('correlation').asc()).show(15, truncate=False)

================================================================================
FEATURE CORRELATIONS WITH TARGET
================================================================================

PySparkValueError: [CANNOT_INFER_EMPTY_SCHEMA] Can not infer schema from empty dataset.

## 6. Temporal Analysis

In [14]:
# Extract temporal features
print("="*80)
print("TEMPORAL ANALYSIS")
print("="*80)

if 'date' in df.columns:
    df = df.withColumn('date_parsed', F.to_date(F.col('date')))
    df = df.withColumn('year', F.year('date_parsed'))
    df = df.withColumn('month', F.month('date_parsed'))
    df = df.withColumn('quarter', F.quarter('date_parsed'))
    
    # Yearly trends
    print("\nYearly Average EV Adoption Probability:")
    yearly_stats = df.groupBy('year').agg(
        F.count('*').alias('count'),
        F.avg(target_col).alias('avg_adoption'),
        F.stddev(target_col).alias('std_adoption'),
        F.min(target_col).alias('min_adoption'),
        F.max(target_col).alias('max_adoption')
    ).orderBy('year')
    yearly_stats.show(truncate=False)
    
    # Monthly patterns
    print("\nMonthly Average EV Adoption Probability:")
    monthly_stats = df.groupBy('month').agg(
        F.count('*').alias('count'),
        F.avg(target_col).alias('avg_adoption'),
        F.stddev(target_col).alias('std_adoption')
    ).orderBy('month')
    monthly_stats.show(12, truncate=False)
    
    # Quarterly patterns
    print("\nQuarterly Average EV Adoption Probability:")
    quarterly_stats = df.groupBy('quarter').agg(
        F.count('*').alias('count'),
        F.avg(target_col).alias('avg_adoption')
    ).orderBy('quarter')
    quarterly_stats.show(truncate=False)
else:
    print("No 'date' column found in dataset")

================================================================================
TEMPORAL ANALYSIS
================================================================================

Yearly Average EV Adoption Probability:

+----+-----+-------------------+-------------------+------------+------------+
|year|count|avg_adoption       |std_adoption       |min_adoption|max_adoption|
+----+-----+-------------------+-------------------+------------+------------+
|2015|20004|0.25924565086982565|0.09093907496933229|-0.68       |1.34        |
|2016|20004|0.2754374125174963 |0.09229147292479084|-0.68       |1.34        |
|2017|20004|0.29201909618076394|0.09441408969117435|-0.68       |1.34        |
|2018|20004|0.30871675664867054|0.09957525130552115|-0.68       |1.34        |
|2019|20004|0.3324170165966804 |0.10252772830857375|-0.68       |1.34        |
|2020|20004|0.34807438512297534|0.10514367782610054|-0.68       |1.34        |
|2021|20004|0.3613292341531694 |0.10752136372202908|-0.68       |1.34        |
|2022|20004|0.37514597080583795|0.10879663681398906|-0.68       |1.34        |
|2023|20004|0.3888047390521887 |0.11028282604412552|-0.68       |1.34        |
|2024|20004|0.401492701459708  |0.11160919722310048|-0.68       |1.34        |
+----+-----+-------------------+-------------------+------------+------------+


Monthly Average EV Adoption Probability:
+-----+-----+-------------------+-------------------+
|month|count|avg_adoption       |std_adoption       |
+-----+-----+-------------------+-------------------+
|1    |16670|0.3274913017396521 |0.10976255499822322|
|2    |16670|0.32883623275344925|0.11558572129233644|
|3    |16670|0.3304511097780443 |0.11409092039216755|
|4    |16670|0.3305626874625074 |0.11145494251448242|
|5    |16670|0.3323299340131974 |0.11154866331415828|
|6    |16670|0.33297180563887213|0.11173074276436186|
|7    |16670|0.33526454709058173|0.11139083396911481|
|8    |16670|0.3356142771445709 |0.11306899550468354|
|9    |16670|0.3379796040791842 |0.11313845120313223|
|10   |16670|0.3387180563887222 |0.11309463133373093|
|11   |16670|0.33979724055188976|0.1115588298980855 |
|12   |16670|0.3412027594481102 |0.11383539384048888|
+-----+-----+-------------------+-------------------+


Quarterly Average EV Adoption Probability:
+-------+-----+-------------------+
|quarter|count|avg_adoption       |
+-------+-----+-------------------+
|1      |50010|0.32892621475704803|
|2      |50010|0.33195480903819197|
|3      |50010|0.33628614277144553|
|4      |50010|0.33990601879624033|
+-------+-----+-------------------+

## 7. Location-Based Analysis

In [15]:
# Location analysis
print("="*80)
print("LOCATION-BASED ANALYSIS")
print("="*80)

location_col = next((c for c in df.columns if c in ['location', 'city']), None)

if location_col:
    total_locations = df.select(location_col).distinct().count()
    print(f"\nTotal unique locations: {total_locations:,}")
    
    # Location statistics
    location_stats = df.groupBy(location_col).agg(
        F.count('*').alias('count'),
        F.avg(target_col).alias('avg_adoption'),
        F.stddev(target_col).alias('std_adoption'),
        F.min(target_col).alias('min_adoption'),
        F.max(target_col).alias('max_adoption')
    )
    
    print("\nTop 20 Locations by Record Count:")
    location_stats.orderBy(F.col('count').desc()).show(20, truncate=False)
    
    print("\nTop 20 Locations by Average EV Adoption:")
    location_stats.orderBy(F.col('avg_adoption').desc()).show(20, truncate=False)
    
    print("\nBottom 20 Locations by Average EV Adoption:")
    location_stats.orderBy(F.col('avg_adoption').asc()).show(20, truncate=False)
else:
    print("No location column found")

================================================================================
LOCATION-BASED ANALYSIS
================================================================================

Total unique locations: 1,667

Top 20 Locations by Record Count:

+------------------------+-----+-------------------+--------------------+------------+------------+
|city                    |count|avg_adoption       |std_adoption        |min_adoption|max_adoption|
+------------------------+-----+-------------------+--------------------+------------+------------+
|Vasai-Virar             |120  |0.14808333333333332|0.08566394997272757 |-0.68       |0.22        |
|Jharkhand Taluk 5       |120  |0.3572499999999999 |0.10522454980826929 |0.24        |1.34        |
|Madhya Pradesh Taluk 110|120  |0.21791666666666665|0.04373133855702104 |0.14        |0.29        |
|Maharashtra Taluk 70    |120  |0.19133333333333333|0.03645956280439954 |0.13        |0.25        |
|Meghalaya Taluk 5       |120  |0.15866666666666665|0.02950383348780613 |0.11        |0.21        |
|Rajasthan Taluk 34      |120  |0.44883333333333336|0.09024880020463072 |0.37        |1.34        |
|Rajasthan Taluk 39      |120  |0.30191666666666667|0.04457635943780392 |0.23        |0.39        |
|Tamil Nadu Taluk 98     |120  |0.40275            |0.07411055221478136 |0.28        |0.51        |
|West Bengal Taluk 27    |120  |0.33649999999999997|0.03480196072907724 |0.27        |0.39        |
|Udaipur                 |120  |0.48491666666666666|0.13011304608648883 |-0.68       |0.6         |
|Raichur                 |120  |0.39141666666666663|0.14386207115917415 |-0.68       |1.34        |
|Nagaland Taluk 13       |120  |0.4375833333333334 |0.11262338394243117 |0.29        |1.34        |
|Odisha Taluk 3          |120  |0.3215             |0.10134100848126588 |-0.68       |0.38        |
|Khandwa                 |120  |0.31908333333333333|0.03643794848280915 |0.26        |0.38        |
|Dimapur                 |120  |0.3345             |0.04003884668290883 |0.26        |0.41        |
|Maharashtra Taluk 5     |120  |0.2608333333333333 |0.057168236660869336|0.16        |0.36        |
|Odisha Taluk 30         |120  |0.4066666666666666 |0.0749154518772462  |0.28        |0.53        |
|Punjab Taluk 1          |120  |0.2298333333333333 |0.026185611975086696|0.18        |0.28        |
|Tamil Nadu Taluk 71     |120  |0.47800000000000004|0.08039398781818777 |0.34        |0.6         |
|Telangana Taluk 2       |120  |0.45558333333333334|0.13273968860130717 |-0.68       |0.6         |
+------------------------+-----+-------------------+--------------------+------------+------------+
only showing top 20 rows


Top 20 Locations by Average EV Adoption:
+-----------------------+-----+------------------+-------------------+------------+------------+
|city                   |count|avg_adoption      |std_adoption       |min_adoption|max_adoption|
+-----------------------+-----+------------------+-------------------+------------+------------+
|Uttarakhand Taluk 9    |120  |0.5715            |0.08012228049633119|0.43        |0.7         |
|Maharashtra Taluk 56   |120  |0.5669166666666665|0.08186683010321373|0.42        |0.68        |
|Uttar Pradesh Taluk 51 |120  |0.5648333333333333|0.08848855343848634|0.4         |0.7         |
|Andhra Pradesh Taluk 15|120  |0.5646666666666665|0.06382662089609638|0.44        |0.66        |
|Ghaziabad              |120  |0.5640833333333333|0.06476195367851177|0.44        |0.66        |
|Maharashtra Taluk 143  |120  |0.56225           |0.0905581432612461 |0.4         |0.69        |
|Karnataka Taluk 18     |120  |0.5585            |0.15086668387195698|-0.68       |0.72        |
|Tamil Nadu Taluk 120   |120  |0.5565            |0.06747112672229856|0.42        |0.65        |
|Kerala Taluk 9         |120  |0.5563333333333332|0.06002707139049753|0.43        |0.66        |
|Maharashtra Taluk 140  |120  |0.5531666666666666|0.11519062267311836|0.39        |1.34        |
|Gujarat Taluk 16       |120  |0.5509166666666666|0.08487257708904977|0.39        |0.67        |
|West Bengal Taluk 9    |120  |0.5445            |0.07270118420544433|0.41        |0.67        |
|Karnataka Taluk 26     |120  |0.5444166666666667|0.10423628485912424|0.36        |0.7         |
|Tamil Nadu Taluk 51    |120  |0.5429999999999999|0.09343671745126339|0.38        |0.68        |
|Rajasthan Taluk 51     |120  |0.5415833333333333|0.08221713241621299|0.4         |0.67        |
|Tamil Nadu Taluk 70    |120  |0.5406666666666666|0.07948080824671966|0.4         |0.67        |
|Tamil Nadu Taluk 115   |120  |0.5347500000000001|0.09937588855899984|0.37        |0.69        |
|Telangana Taluk 20     |120  |0.5336666666666666|0.08769631838169194|0.37        |0.65        |
|Uttar Pradesh Taluk 125|120  |0.5325000000000001|0.03703847647374009|0.45        |0.59        |
|Parbhani               |120  |0.5281666666666667|0.07028134736268823|0.4         |0.63        |
+-----------------------+-----+------------------+-------------------+------------+------------+
only showing top 20 rows


Bottom 20 Locations by Average EV Adoption:
+-----------------------+-----+-------------------+--------------------+------------+------------+
|city                   |count|avg_adoption       |std_adoption        |min_adoption|max_adoption|
+-----------------------+-----+-------------------+--------------------+------------+------------+
|Karnataka Taluk 56     |120  |0.07208333333333333|0.11822138350656908 |0.03        |1.34        |
|Rajasthan Taluk 38     |120  |0.10266666666666668|0.02486039451992415 |0.06        |0.14        |
|Maharashtra Taluk 125  |120  |0.11933333333333335|0.07923726028433181 |-0.68       |0.17        |
|Tamil Nadu Taluk 90    |120  |0.12133333333333332|0.08028241467745335 |-0.68       |0.18        |
|Uttar Pradesh Taluk 9  |120  |0.12266666666666666|0.018090962195672904|0.09        |0.15        |
|Nagaland Taluk 19      |120  |0.123              |0.024205006774243556|0.08        |0.17        |
|Bihar Taluk 52         |120  |0.12325            |0.02196875168097105 |0.09        |0.16        |
|Itanagar               |120  |0.12325000000000003|0.02196875168097105 |0.09        |0.16        |
|Tamil Nadu Taluk 55    |120  |0.12825            |0.02097066779010686 |0.09        |0.16        |
|Tamil Nadu Taluk 130   |120  |0.12966666666666668|0.037370129925439886|0.06        |0.19        |
|Maharashtra Taluk 51   |120  |0.13083333333333333|0.025291023196813065|0.09        |0.17        |
|Faridabad              |120  |0.13099999999999998|0.03670001030384762 |0.07        |0.2         |
|Andhra Pradesh Taluk 19|120  |0.13100000000000003|0.03670001030384762 |0.07        |0.2         |
|Maharashtra Taluk 1    |120  |0.13316666666666668|0.035313323439247826|0.07        |0.19        |
|Maharashtra Taluk 103  |120  |0.13349999999999998|0.0779317736519439  |-0.68       |0.17        |
|Odisha Taluk 43        |120  |0.136              |0.027847121662282256|0.09        |0.18        |
|West Bengal Taluk 7    |120  |0.14325            |0.030046532539497114|0.09        |0.2         |
|Tamil Nadu Taluk 114   |120  |0.1436666666666667 |0.03516905948554836 |0.09        |0.2         |
|Andhra Pradesh Taluk 23|120  |0.14583333333333334|0.033420753712498544|0.09        |0.2         |
|Haryana Taluk 33       |120  |0.146              |0.08453928528384021 |-0.68       |0.22        |
+-----------------------+-----+-------------------+--------------------+------------+------------+
only showing top 20 rows

In [16]:
# State-level analysis (if applicable)
if 'state' in df.columns:
    print("\nSTATE-LEVEL ANALYSIS")
    print("="*80)
    
    total_states = df.select('state').distinct().count()
    print(f"\nTotal unique states: {total_states}")
    
    state_stats = df.groupBy('state').agg(
        F.count('*').alias('count'),
        F.countDistinct(location_col).alias('num_locations') if location_col else F.lit(0).alias('num_locations'),
        F.avg(target_col).alias('avg_adoption'),
        F.stddev(target_col).alias('std_adoption')
    )
    
    print("\nState Statistics (ordered by record count):")
    state_stats.orderBy(F.col('count').desc()).show(50, truncate=False)
    
    print("\nState Statistics (ordered by average adoption):")
    state_stats.orderBy(F.col('avg_adoption').desc()).show(50, truncate=False)

STATE-LEVEL ANALYSIS
================================================================================

Total unique states: 34

State Statistics (ordered by record count):
+----------------------------------------+-----+-------------+-------------------+-------------------+
|state                                   |count|num_locations|avg_adoption       |std_adoption       |
+----------------------------------------+-----+-------------+-------------------+-------------------+
|Tamil Nadu                              |22200|185          |0.33891036036036043|0.11317334026589393|
|Maharashtra                             |22200|185          |0.3349941441441441 |0.12002514850500794|
|Uttar Pradesh                           |21600|180          |0.3294976851851852 |0.11195096125957925|
|Madhya Pradesh                          |16800|140          |0.3296494047619048 |0.10624553859219285|
|Karnataka                               |12600|105          |0.3419976190476192 |0.12053944545925886|
|Gujarat                                 |12000|100          |0.3326266666666666 |0.10530150991108667|
|Rajasthan                               |9600 |80           |0.3282541666666668 |0.1100208523896786 |
|Andhra Pradesh                          |8520 |71           |0.3350352112676057 |0.10229677785288262|
|Unknown                                 |7800 |65           |0.34094615384615384|0.10242802907016864|
|Bihar                                   |7800 |65           |0.34019102564102566|0.11870211885695327|
|Odisha                                  |6600 |55           |0.3129848484848486 |0.10287384265143042|
|Kerala                                  |6600 |55           |0.35915909090909093|0.1276090840744331 |
|Haryana                                 |6000 |50           |0.3208866666666667 |0.10489890904616406|
|West Bengal                             |5400 |45           |0.3566407407407407 |0.10622141970905766|
|Nagaland                                |4200 |35           |0.31762619047619045|0.12266454421312219|
|Chhattisgarh                            |4200 |35           |0.3276428571428572 |0.10979213975645782|
|Telangana                               |3000 |25           |0.3687500000000001 |0.11680790011171978|
|Uttarakhand                             |3000 |25           |0.3530233333333333 |0.12282068675887164|
|Punjab                                  |2400 |20           |0.3287166666666667 |0.10888316153144466|
|Mizoram                                 |2400 |20           |0.3176791666666667 |0.11695235998195781|
|Jharkhand                               |2400 |20           |0.33359583333333326|0.11739862718532659|
|Assam                                   |2400 |20           |0.2878666666666667 |0.10176122517991863|
|Meghalaya                               |2400 |20           |0.3204458333333334 |0.09260579263551091|
|Dadra and Nagar Haveli and Daman and Diu|1200 |10           |0.3726916666666667 |0.12467674939788323|
|Jammu and Kashmir / Ladakh              |1200 |10           |0.32165            |0.10105586445022949|
|Andaman and Nicobar Islands             |720  |6            |0.3234722222222222 |0.10142461895537305|
|Manipur                                 |600  |5            |0.31405            |0.09799712526872864|
|Himachal Pradesh                        |600  |5            |0.29501666666666665|0.08592033264304423|
|Puducherry                              |600  |5            |0.33980000000000005|0.12412885759892697|
|Arunachal Pradesh                       |600  |5            |0.32836666666666664|0.12616733286404053|
|Sikkim                                  |600  |5            |0.3727             |0.06916658654647356|
|Delhi                                   |600  |5            |0.3527666666666667 |0.09572155756774027|
|Chandigarh                              |600  |5            |0.35728333333333334|0.08241018618391176|
|Tripura                                 |600  |5            |0.29163333333333336|0.07703607260905289|
+----------------------------------------+-----+-------------+-------------------+-------------------+


State Statistics (ordered by average adoption):
+----------------------------------------+-----+-------------+-------------------+-------------------+
|state                                   |count|num_locations|avg_adoption       |std_adoption       |
+----------------------------------------+-----+-------------+-------------------+-------------------+
|Sikkim                                  |600  |5            |0.3727             |0.06916658654647356|
|Dadra and Nagar Haveli and Daman and Diu|1200 |10           |0.3726916666666667 |0.12467674939788323|
|Telangana                               |3000 |25           |0.3687500000000001 |0.11680790011171978|
|Kerala                                  |6600 |55           |0.35915909090909093|0.1276090840744331 |
|Chandigarh                              |600  |5            |0.35728333333333334|0.08241018618391176|
|West Bengal                             |5400 |45           |0.3566407407407407 |0.10622141970905766|
|Uttarakhand                             |3000 |25           |0.3530233333333333 |0.12282068675887164|
|Delhi                                   |600  |5            |0.3527666666666667 |0.09572155756774027|
|Karnataka                               |12600|105          |0.3419976190476192 |0.12053944545925886|
|Unknown                                 |7800 |65           |0.34094615384615384|0.10242802907016864|
|Bihar                                   |7800 |65           |0.34019102564102566|0.11870211885695327|
|Puducherry                              |600  |5            |0.33980000000000005|0.12412885759892697|
|Tamil Nadu                              |22200|185          |0.33891036036036043|0.11317334026589393|
|Andhra Pradesh                          |8520 |71           |0.3350352112676057 |0.10229677785288262|
|Maharashtra                             |22200|185          |0.3349941441441441 |0.12002514850500794|
|Jharkhand                               |2400 |20           |0.33359583333333326|0.11739862718532659|
|Gujarat                                 |12000|100          |0.3326266666666666 |0.10530150991108667|
|Madhya Pradesh                          |16800|140          |0.3296494047619048 |0.10624553859219285|
|Uttar Pradesh                           |21600|180          |0.3294976851851852 |0.11195096125957925|
|Punjab                                  |2400 |20           |0.3287166666666667 |0.10888316153144466|
|Arunachal Pradesh                       |600  |5            |0.32836666666666664|0.12616733286404053|
|Rajasthan                               |9600 |80           |0.3282541666666668 |0.1100208523896786 |
|Chhattisgarh                            |4200 |35           |0.3276428571428572 |0.10979213975645782|
|Andaman and Nicobar Islands             |720  |6            |0.3234722222222222 |0.10142461895537305|
|Jammu and Kashmir / Ladakh              |1200 |10           |0.32165            |0.10105586445022949|
|Haryana                                 |6000 |50           |0.3208866666666667 |0.10489890904616406|
|Meghalaya                               |2400 |20           |0.3204458333333334 |0.09260579263551091|
|Mizoram                                 |2400 |20           |0.3176791666666667 |0.11695235998195781|
|Nagaland                                |4200 |35           |0.31762619047619045|0.12266454421312219|
|Manipur                                 |600  |5            |0.31405            |0.09799712526872864|
|Odisha                                  |6600 |55           |0.3129848484848486 |0.10287384265143042|
|Himachal Pradesh                        |600  |5            |0.29501666666666665|0.08592033264304423|
|Tripura                                 |600  |5            |0.29163333333333336|0.07703607260905289|
|Assam                                   |2400 |20           |0.2878666666666667 |0.10176122517991863|
+----------------------------------------+-----+-------------+-------------------+-------------------+

## 8. Save Cleaned Data and Results

In [18]:
# Save cleaned dataset
print("="*80)
print("SAVING OUTPUTS")
print("="*80)

# Save cleaned data to HDFS
output_path = "hdfs://localhost:9000/des/data/ev_ice_cleaned"
print(f"\nSaving cleaned dataset to HDFS: {output_path}")
df.write.csv(output_path, header=True, mode='overwrite')
print("✓ Cleaned dataset saved")

# Save correlation results
corr_output = "outputs/eda/correlations_full"
print(f"\nSaving correlations to: {corr_output}")
corr_df.coalesce(1).write.csv(corr_output, header=True, mode='overwrite')
print("✓ Correlations saved")

# Save location statistics
if location_col:
    location_output = "outputs/eda/location_statistics"
    print(f"\nSaving location statistics to: {location_output}")
    location_stats.coalesce(1).write.csv(location_output, header=True, mode='overwrite')
    print("✓ Location statistics saved")

================================================================================
SAVING OUTPUTS
================================================================================

Saving cleaned dataset to HDFS: hdfs://localhost:9000/des/data/ev_ice_cleaned

✓ Cleaned dataset saved

Saving correlations to: outputs/eda/correlations_full

NameError: name 'corr_df' is not defined

## 9. Summary Report

In [19]:
# Final summary
print("="*80)
print("FINAL SUMMARY")
print("="*80)

print(f"\nOriginal dataset: {total_rows:,} rows")
print(f"Cleaned dataset: {df.count():,} rows")
print(f"Rows removed: {total_rows - df.count():,}")

print(f"\nTotal columns: {len(df.columns)}")
print(f"Numeric features: {len(numeric_cols)}")
print(f"Categorical features: {len(categorical_cols)}")

if location_col:
    print(f"\nTotal locations: {df.select(location_col).distinct().count():,}")

if 'state' in df.columns:
    print(f"Total states: {df.select('state').distinct().count()}")

if 'year' in df.columns:
    years = df.select('year').distinct().orderBy('year').collect()
    print(f"\nYear range: {years[0][0]} - {years[-1][0]}")

print(f"\nTarget variable: {target_col}")
target_stats = df.select(target_col).summary().collect()
for row in target_stats:
    print(f"  {row[0]}: {row[1]}")

print("\n✓ Data preprocessing and EDA complete!")
print("="*80)

================================================================================
FINAL SUMMARY
================================================================================

Original dataset: 200,040 rows

Cleaned dataset: 200,040 rows

Rows removed: 0

Total columns: 37
Numeric features: 0
Categorical features: 0

Total locations: 1,667
Total states: 34

Year range: 2015 - 2024

Target variable: ev_adoption_probability

  count: 200040
  mean: 0.33426829634073285
  stddev: 0.11261165851046953
  min: -0.68
  25%: 0.26
  50%: 0.33
  75%: 0.4
  max: 1.34

✓ Data preprocessing and EDA complete!
================================================================================

In [20]:
# Stop Spark session
spark.stop()
print("✓ Spark session stopped")

✓ Spark session stopped